:root {
  --bg:#0f172a; --card:#020617; --text:#fff;
}
.light {
  --bg:#f1f5f9; --card:#fff; --text:#000;
}

body {
  background: var(--bg);
  color: var(--text);
  margin:0;
  font-family: Arial;
}

.topbar {
  display:flex;
  gap:10px;
  padding:15px;
  background:#020617;
}

input, button {
  padding:8px;
}

main {
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
  gap:20px;
  padding:20px;
}

.movie {
  background:var(--card);
  border-radius:10px;
  cursor:pointer;
}

.movie img {
  width:100%;
  height:260px;
  object-fit:cover;
}

.movie h3 {
  padding:10px;
  font-size:14px;
}

.pagination {
  text-align:center;
  padding:10px;
}
