body{
  font-family: Arial;
  background:#111;
  color:#fff;
  text-align:center;
}
#movies{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
  margin-top:20px;
}
.card{
  width:200px;
  background:#222;
  padding:10px;
  border-radius:8px;
}
.card img{
  width:100%;
  border-radius:6px;
}
