*{box-sizing:border-box;font-family:Segoe UI,Arial}
body{margin:0;background:#f4f4f4}

header{
  background:#e63946;
  color:#fff;
  padding:20px;
  text-align:center;
}

.offer{
  background:#ffd166;
  text-align:center;
  padding:10px;
  font-weight:bold;
}

.menu{padding:20px}
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:15px;
}

.card{
  background:#fff;
  border-radius:12px;
  box-shadow:0 6px 12px rgba(0,0,0,.1);
  text-align:center;
  padding:10px;
}

.card img{
  width:100%;
  height:300px;
  object-fit:cover;
  border-radius:10px;
}

.card button{
  background:#1d3557;
  color:#fff;
  border:none;
  padding:8px 14px;
  border-radius:6px;
  cursor:pointer;
}

.cart{
  background:#fff;
  margin:20px;
  padding:20px;
  border-radius:12px;
}

.cart button{
  width:100%;
  padding:10px;
  background:#2a9d8f;
  border:none;
  color:#fff;
  font-size:16px;
  border-radius:6px;
}

footer{
  background:#1d3557;
  color:#fff;
  text-align:center;
  padding:12px;
}
