body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #43cea2, #185a9d);
  display: flex;
  background-repeat: inherit;
  justify-content: center;
  align-items: center;
  height: 110vh;
  margin: 0;
}
.container {
  background: rgb(70, 233, 48) ;
  padding: 25px 35px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  text-align: center;
  width: 350px;
}
h2 {
  color: #185a9d;
  margin-bottom: 20px;
}
.input-group {
  margin-bottom: 15px;
  text-align: left;
}
label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  font-size: 14px;
}
button {
  margin: 8px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
}

button:first-of-type {
  background: #ff4b2b;
  color: #fff;
  box-shadow: 0 4px 10px rgba(255, 75, 43, 0.4);
}

button:first-of-type:hover {
  background: #57dbec;
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(255, 75, 43, 0.6);
}

button:last-of-type {
  background: #57dbec;
  color: #fff;
  box-shadow: 0 4px 10px rgba(119, 119, 119, 0.4);
}

button:last-of-type:hover {
  background: #ff4b2b;
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(85, 85, 85, 0.6);
}
#result {
  margin-top: 20px;
  font-size: 16px;
  color: #333;
}