:root {
    --card: rgba(15, 23, 36, 0.75);
    --accent: #f59e0b;
    --accent2: #60a5fa;
    --text: #e6eef8;
}

* {
    box-sizing: border-box;
    font-family: Segoe UI, Roboto, 'Noto Sans', sans-serif;
}

    /* FULL PAGE BACKGROUND IMAGE */
body {
    margin: 0;
    min-height: 100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url("images/bg.webp") no-repeat center center fixed;
    background-size: cover;
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.app {
    width: 100%;
    max-width: 980px;
    background: rgba(195, 28, 28, 0.01);
    border-radius: 12px;
    backdrop-filter: blur(6px);
    padding-bottom: 10px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, .6);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 22px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

header h1 {
    margin: 0;
    font-size: 20px
}

.container {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 20px;
    padding: 22px;
}

.card {
    background: var(--card);
    padding: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.question {
    font-size: 18px;
    margin-bottom: 12px
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
}
.option {
    padding: 12px;
    border-radius: 8px;
    background: rgba(255, 255, 255, .05);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, .1);
    transition: 0.2s;
}

.option:hover {
    transform: translateY(-3px);
    background: rgba(255, 255, 255, .15);
}

.option.correct {
    background: linear-gradient(90deg, #064e3b, #166534);
    border-color: #064e3b;
}

.option.wrong {
    background: linear-gradient(90deg, #4c1d95, #7c2d91);
    border-color: #4c1d95;
}

.option.disabled {
    opacity: .5;
    pointer-events: none;
}

.controls {
    display: flex;
    gap: 10px
}

.btn {
    padding: 8px 12px;
    border-radius: 8px;
    background: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .2);
    cursor: pointer;
}

.btn.lifeline.used {
    opacity: 1;
    pointer-events: none;
}

.ladder {
    display: flex;
    flex-direction: column;
    gap: 6px
}

.prize {
    padding: 8px 10px;
    background: rgba(255, 255, 255, .1);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}

.prize.current {
    background: linear-gradient(90deg, var(--accent), var(--accent2));
    color: #000;
    font-weight: 700;
}

.timer {
    font-size: 18px;
    font-weight: bold
}

.small {
    font-size: 13px;
    color: #ddd
}

@media(max-width:880px) {.container {
        grid-template-columns: 1fr;
    }
}